<div class="row">
    <div class="col l12 card large z-depth-4">

        <h1 class="center">
            <i class="material-icons large">whatshot</i>...et plus si affinités</h1>
        <div class="left-align">

            <div class="chip">
                <img src="assets/img/user6.png" alt="Contact Person">
                Maxime :
                <br>
            </div><br>
            <p>Coucou ! ça va ?</p><br>
        </div>
        <div class="right-align">

            <div class="chip">
                <img src="assets/img/main.png" alt="Contact Person">
                Moi :
                <br>
            </div><br>
            <p>Hey :) Oui et toi?</p><br>
        </div>
        <div class="left-align">

            <div class="chip">
                <img src="assets/img/user6.png" alt="Contact Person">
                Maxime :
                <br>
            </div><br>
            <p>Oui. Content de te rencontrer. Je suis un peu nouveau sur l'app mais ça fait du bien de pouvoir discuter un peu...</p><br>

        </div>
        <div class="right-align">

            <div class="chip">
                <img src="assets/img/main.png" alt="Contact Person">
                Moi :
                <br>
            </div><br>
            <p>Oui je suis d'accord. Moi c'est la première fois que je parle à quelqu'un ici et toi?</p>
            <br>
        </div>
    </div>
</div>
<div class="row">
    <form class="col s12 card z-depth-4 messagerie">
        <div class="input-field col s6">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
            <label for="icon_prefix2">Mon message</label>
        </div>
    </form>
</div>
