<h1>Professionnel</h1>
<div class="chip">
    <img src="assets/img/user1.png" alt="Contact Person">
    Jane Doe
    <i class="close material-icons"></i>
</div>

<div class="chip">
    <img src="assets/img/user2.png" alt="Contact Person">
    Jane Doe
    <i class="close material-icons"></i>
</div>

<h1>Chat</h1>
<div class="chip">
    <img src="assets/img/user4.png" alt="Contact Person">
    Jane Doe
    <i class="close material-icons"></i>
</div>

<div class="chip">
    <img src="assets/img/user5.png" alt="Contact Person">
    Jane Doe
    <i class="close material-icons">close</i>
</div>

<div class="chip">
    <img src="assets/img/user3.png" alt="Contact Person">
    Jane Doe
    <i class="close material-icons"></i>
</div>

<h1>Et plus..</h1>
<div class="chip">
    <img src="assets/img/user6.png" alt="Contact Person">
    Jane Doe
    <i class="close material-icons"></i>
</div>
