<div class="center">

    <h3><i class="material-icons small">record_voice_over</i> Professionnel</h3>
    <div class="chip">
        <img src="assets/img/user1.png" alt="Contact Person">
        Antoine
        <i class="close material-icons">close</i>
    </div>

    <div class="chip">
        <img src="assets/img/user2.png" alt="Contact Person">
        Simon
        <i class="close material-icons">close</i>
    </div>

    <h3><i class="material-icons small">chat</i> Chat</h3>
    <div class="chip">
        <img src="assets/img/user3.png" alt="Contact Person">
        Jean-Baptiste
        <i class="close material-icons">close</i>
    </div>

    <div class="chip">
        <img src="assets/img/user4.png" alt="Contact Person">
        Cyril
        <i class="close material-icons">close</i>
    </div>

    <div class="chip">
        <img src="assets/img/user5.png" alt="Contact Person">
        Maxime
        <i class="close material-icons">close</i>
    </div>

    <h3><i class="material-icons small">whatshot</i> ...et plus si affinités</h3>
    <div class="chip">
        <a href="#/discussion" style = "color : grey;"><img src="assets/img/user6.png" alt="Contact Person">
        Aaron
        <i class="close material-icons">close</i></a>
    </div>
</div>
