
  <nav style= "height: 200px;">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center"><img src="../assets/img/logohoppy.png" alt="" style= "height: 200px;" /></a>
      <ul id="nav-mobile" class="left ">
        <li style= "padding-top: 60px; padding-left:300px;" ><a class="waves-effect waves-light btn-large blue lighten-2" href="#/profil.html" >Messagerie</a></li>
      </ul>
      <ul class="right ">
        <li style= "padding-top: 60px; padding-right:300px;"><a class="waves-effect waves-light btn-large blue lighten-2" href="#/profil.html">Profil</a></li>
        </ul>
    </div>
  </nav>
