<div class="container">
    <div class="row">
        <div class="col l4 m6 s12">
            <p>
                Je suis :
            </p>
            <p>
                <input type="checkbox" id="homme1"/>
                <label for="homme1">Un homme</label>
            </p>
            <p>
                <input type="checkbox" id="femme1"/>
                <label for="femme1">Une femme</label>
            </p>
            <p>
                <input type="checkbox" id="undefined1"/>
                <label for="undefined1">Undefined</label>
            </p>
        </div>
        <div class="col l4 m6 s12">
            <p>
                Je recherche :
            </p>
            <p>
                <input type="checkbox" id="conseil1"/>
                <label for="conseil1">Un conseil</label>
            </p>
            <p>
                <input type="checkbox" id="femme2"/>
                <label for="femme2">Une Femme</label>
            </p>
            <p>
                <input type="checkbox" id="undefined2"/>
                <label for="undefined2">Undefined</label>
            </p>
        </div>
        <div class="col l4 m6 s12">
            <p>
                Je veux :
            </p>
            <p>
                <input type="checkbox" id="conseil2"/>
                <label for="conseil2">Un conseil</label>
            </p>
            <p>
                <input type="checkbox" id="tchat"/>
                <label for="tchat">Un Tchat</label>
            </p>
            <p>
                <input type="checkbox" id="+siaffinite"/>
                <label for="+siaffinite">Plus si affinité</label>
            </p>
        </div>
        <div class="col l4 m6 s12">
            <p>
                Avec :
            </p>
            <p>
                <input type="checkbox" id="professionnel"/>
                <label for="professionnel">Un professionnel</label>
            </p>
            <p>
                <input type="checkbox" id="proche"/>
                <label for="proche">Un proche</label>
            </p>
            <p>
                <input type="checkbox" id="undefined4"/>
                <label for="undefined4">Un patient</label>
            </p>
        </div>
        <div class="col l4 m6 s12">
          <p>
            qui a :
          </p>
          <p>
              <input type="checkbox" id="18/25"/>
              <label for="18/25">De 18 à 25 ans</label>
          </p>
          <p>
              <input type="checkbox" id="25/30"/>
              <label for="25/30">De 25 à 35 ans</label>
          </p>
          <p>
              <input type="checkbox" id="40/50"/>
              <label for="40/50">De 35 à 50 ans</label>
          </p>
          <p>
              <input type="checkbox" id="+50"/>
              <label for="+50">Plus de 50 Ans</label>
          </p>
          <p>
              <input type="checkbox" id="undefined5"/>
              <label for="undefined5">Undefined</label>
          </p>
        </div>
        <div class="col l4 m6 s12">
          <p>
            Dans un rayon de (km) :
          </p>
            <form action="#">
                <p class="range-field">
                    <input type="range" id="test5" min="0" max="500"/>
                </p>
            </form>
        </div>
    </div>
</div>
