<div class="container">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6">
                    <a class="active" href="#profil">Réglages</a>
                </li>
                <li class="tab col s6">
                    <a href="#reglages">Profil</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="reglages col l12 z-depth-6 card-panel z-depth-4 bonjourjesuisunetab" id="reglages">
        <h2 class="center-align">Mon profil</h2>
        <form action="#">
            <div class="file-field input-field">
                <div class="btn waves-effect pink">
                    <span>Ajoute une photo et ton choix :</span>
                    <input type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="">
                </div>
            </div>
        </form>
        <form class="pref">
            <div class="row">
                <div class="input-field col s12">
                  <p>
                    décris toi en quelques lignes :
                  </p>
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                </div>
            </div>
            <form action="#">
                <p class="range-field">
                    Indique ton âge :
                    <input type="range" id="ageprof" min="18" max="100"/>
                </p>
            </form>
            <div class="row">
                <div class="input-field col l12">
                    <i class="material-icons prefix">mail_outline</i>
                    <input class="validate" id="email" type="email">
                    <label for="email" data-error="wrong" data-success="right">Identifiant</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l12">
                    <i class="material-icons prefix">lock_outline</i>
                    <input id="password" type="password">
                    <label for="password">Mot de passe</label>
                </div>
            </div>
        </form>
        <div class="input-field col l12">
            <a href="#" id="save" class="btn waves-effect pink col offset-l3 l6 offset-l3">Enregistrer</a>
        </div>
    </div>
    <div class="col l12 z-depth-6 card-panel z-depth-4" id="profil">
        <h2 class="center">Préférences de recherche</h2>
        <form>
            <div class="row">
                <div class="col offset-l2 l4">
                    <p>
                        Je suis :
                    </p>
                    <p class="col l12">
                        <input class="with-gap" name="group1" type="radio" id="test1"/>
                        <label for="test1">Un Homme</label>
                    </p>
                    <p class="col l12">
                        <input class="with-gap" name="group1" type="radio" id="test2"/>
                        <label for="test2">Une Femme</label>
                    </p>
                    <p class="col l12">
                        <input class="with-gap" name="group1" type="radio" id="test3"/>
                        <label for="test3">Undefined</label>
                    </p>
                </div>
                <div class="col l4 offset-l2">
                    <p>
                        Je recherche :
                    </p>
                    <p>
                        <input type="checkbox" id="test4"/>
                        <label for="test4">Un conseil</label>
                    </p>
                    <p>
                        <input type="checkbox" id="test5"/>
                        <label for="test5">Une Femme</label>
                    </p>
                    <p>
                        <input type="checkbox" id="test6"/>
                        <label for="test6">Undefined</label>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col offset-l2 l4">
                    <p>
                        Je veux :
                    </p>
                    <p>
                        <input type="checkbox" id="test7"/>
                        <label for="test7">Un conseil</label>
                    </p>
                    <p>
                        <input type="checkbox" id="test8"/>
                        <label for="test8">Une Femme</label>
                    </p>
                    <p>
                        <input type="checkbox" id="test9"/>
                        <label for="test9">Undefined</label>
                    </p>
                </div>
                <div class="col l4 offset-l2">
                    <p>
                        Avec :
                    </p>
                    <p>
                        <input type="checkbox" id="test10"/>
                        <label for="test10">Un professionnel</label>
                    </p>
                    <p>
                        <input type="checkbox" id="test11"/>
                        <label for="test11">Un patient</label>
                    </p>
                    <p>
                        <input type="checkbox" id="test12"/>
                        <label for="test12">Un proche de patient</label>
                    </p>
                </div>
                <div class="col l4 offset-l2">
                    <p>
                        qui a :
                    </p>
                    <p>
                        <input type="checkbox" id="18/25"/>
                        <label for="18/25">De 18 à 25 ans</label>
                    </p>
                    <p>
                        <input type="checkbox" id="25/30"/>
                        <label for="25/30">De 25 à 35 ans</label>
                    </p>
                    <p>
                        <input type="checkbox" id="40/50"/>
                        <label for="40/50">De 35 à 50 ans</label>
                    </p>
                    <p>
                        <input type="checkbox" id="+50"/>
                        <label for="+50">Plus de 50 Ans</label>
                    </p>
                    <p>
                        <input type="checkbox" id="undefined5"/>
                        <label for="undefined5">Undefined</label>
                    </p>
                </div>
                <div class="col l4 offset-l2">
                    <p>
                        Dans un rayon de (km) :
                    </p>
                    <form action="#">
                        <p class="range-field">
                            <input type="range" id="test5" min="0" max="500"/>
                        </p>
                    </form>
                </div>
            </div>
            <div class="input-field col l12">
                <a href="#" id="save" class="btn waves-effect pink col offset-l3 l6 offset-l3">Enregistrer</a>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('ul.tabs').tabs();
    });
</script>
