<ul id="slide-out" class="side-nav">
    <li>
        <div class="userView">
            <div class="background">
                <img src="assets/img/background-SN.jpg">
            </div>
            <a href="#!user"><img class="circle" src="assets/img/user1.png"></a>
            <a href="#!name">
                <span class="white-text name">John Doe</span>
            </a>
            <a href="#!email">
                <span class="white-text email">johndoe@gmail.com</span>
            </a>
        </div>
    </li>
    <li>
        <a href="accueil.html">
            <i class="material-icons">home</i>Accueil</a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a href="discussions.html">
            <i class="material-icons">perm_identity</i>Discussions</a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a href="settings.html">
            <i class="material-icons">settings</i>Préférences</a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a class="subheader"></a>
    </li>
    <li>
        <a class="waves-effect" href="login.html">
            <i class="material-icons">exit_to_app</i>se déconnecter</a>
    </li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse">
    <i class="material-icons">menu</i>
</a>
<script>
    $(document).ready(function() {
        $(".button-collapse").sideNav();
    });
</script>
