<div class="row avatarimg">
    <div class="col offset-l2 l8 offset-l2 card large z-depth-4">
        <a href="#">
            <i class="material-icons large">chevron_left</i>
        </a>
        <img src="../assets/img/user2.png" alt="" class="circle responsive-img">
        <a href="#">
            <i class="material-icons large">chevron_right</i>
        </a>
    </div>
</div>
<div class="row descriptionrow">
    <div class="col offset-l3 s6 offset-l3 card small z-depth-4 description">
        <h4>Simon, 25 ans</h4>
    </div>
</div>
