<div class="row avatarimg">
    <div class="col offset-l2 l8 offset-l2 card large z-depth-4 center">
        <a href="#user1">
            <i class="material-icons large">chevron_left</i>
        </a>
        <img class="avatar circle responsive-img center z-depth-4" src="../assets/img/user2.png" alt="" class="circle responsive-img">
        <a href="#user3">
            <i class="material-icons large">chevron_right</i>
        </a>
        <div class="row">
            <div class="col offset-l1 s10 offset-l1 z-depth-4 description">
                <h4>Simon, 25 ans</h4>
                <div class="center">
                    <button class="btn waves-effect waves-light center blue lighten-2" type="submit" name="action" onclick="Materialize.toast('Contact ajouté à la discussion', 4000)">J'aime
                        <i class="material-icons right">favorite_border</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
